<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgadetsky.bukashki.mapper.UserMapper">

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (email, password_hash)
        VALUES (#{email}, #{passwordHash})
    </insert>

    <select id="findByEmail" resultType="com.lgadetsky.bukashki.model.UserEntity">
        SELECT id, email, password_hash
        FROM users
        WHERE email = #{email}
    </select>

</mapper>